@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "reset.css";
@import "variables.css";

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#momentum-header {
    width: 100vw;
    height: 500px;
    display: flex;
}

#weather {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
    
}

.weather__column {
    font-size: 3vw;
    padding-right: 5px;
}

#momentum-main {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.main__column {
    text-align: center;
    margin: 3vw 0 5vw;
}

#clock {
    font-size: 10vw;
}

#date {
    font-size: 5vw;
}

#login-form input{
    background-color: var(--transparent);
    border: none;
    border-bottom: 1px solid var(--white);
    text-align: center;
    font-size: 5vw;
}

#login-form input:focus {
    text-align: center;
    color: var(--white);
}

#login-form input:focus::placeholder {
    color: transparent;
    transition: color .3s;
}

#login-form input::placeholder {
    text-align: center;
    color: var(--white);
}

#momentum-footer {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
}

.footer__column {
    width: 33vw;
}

.quote--position {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.quote--position span:first-child {
    font-size: 1.6vw;
    margin-bottom: 1vh;
}

.quote--position span:last-child {
    font-size: 1.3vw;
    opacity: 0.7;
}

.todo--position {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
}

#todo {
    position: relative;
}

#todo i {
 font-size: 5vw;
}

.todo-container {
    position: absolute;
    right: 0;
    bottom: 5.5vw;
    background-color: rgba(0, 0, 0, 0.9);
}

#todo-form input, .todo-container ul {
    background-color: var(--transparent);
    color: var(--white);
    border: none;
    font-size: 2vw;
}

#todo-form input:focus {
    color: var(--white);
}

#todo-form input:focus::placeholder {
    color: rgba(255, 255, 255, 0.4);
    transition: color .3s;
}

#todo-form input::placeholder {
    text-align: center;
    color: var(--white);
}

.hidden {
    display: none;
}

