@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "reset.css";
@import "variables.css";

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 헤더(날씨) */
#momentum-header {
    width: 100vw;
    height: 25vh;
    margin-bottom: 20px;
    display: flex;
}

#weather {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
    
}

.weather__column {
    font-size: 4vw;
    padding-right: 5px;
}

/* 메인(닉네임,날짜/시간) */
#momentum-main {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.main__column {
    text-align: center;
    margin: 30px 0 5px;
}

#greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

#greetings h1 {
    padding: 30px 0 10px;
}

#greetings span:hover {
    cursor: pointer;
    color:var(--light-gray);
}

#greetings span:active {
    color:var(--gray);
}

#clock {
    font-size: 10vw;
}

#date {
    font-size: 5vw;
}

#login-form input{
    background-color: var(--transparent);
    border: none;
    border-bottom: 1px solid var(--white);
    text-align: center;
    font-size: 5vw;
}

#login-form input:focus {
    text-align: center;
    color: var(--white);
}

#login-form input:focus::placeholder {
    color: transparent;
    transition: color .3s;
}

#login-form input::placeholder {
    text-align: center;
    color: var(--white);
}

/* 푸터(명언,ToDoList) */
#momentum-footer {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
}

.footer__column {
    width: 33%;
}

.quote--position {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.quote--position span:first-child {
    font-size: 1.6vw;
    margin-bottom: 1vh;
}

.quote--position span:last-child {
    font-size: 1.3vw;
    opacity: 0.7;
}

.todo--position {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 5px;
}

#todo {
    position: relative;
}

#todo i {
 font-size: 5vw;
}

#todo .todo-list__image {
    width: 30%;
    display: flex;
    justify-content: center;
    
}

#todo .todo-list__image:hover {
    cursor: pointer;
    background-color: var(--light-gray);
    border-radius: 50%;
}

#todo .todo-list__image:active {
    background-color: var(--gray);
}

.todo-container {
    position: absolute;
    right: 0;
    bottom: 5.5vw;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1vw;
    padding: 1vw;
}

#todo-form input, .todo-container ul {
    background-color: var(--transparent);
    color: var(--white);
    border: none;
    font-size: 2vw;
}

#todo-form input:focus {
    color: var(--white);
}

#todo-form input:focus::placeholder {
    color: var(--gray);
    transition: color .3s;
}

#todo-form input::placeholder {
    text-align: center;
    color: var(--gray);
}

/* 숨김처리 */
.hidden {
    display: none;
}

/* 날짜 숨김처리 */
.weather--hidden {
    color:var(--transparent);
}